/* קובץ SCSS לסגנון הטבלה */

.MuiTableCell-root {
  font-size: 0.875rem;
  /* הקטנת גודל הפונט */
}

.MuiTableRow-root {
  height: 40px;
  /* הקטנת גובה השורות */
}

.MuiTableContainer-root {
  border: 1px solid #d0e4f5;
  /* צבע הגבולות של הטבלה בתכלת */
  border-radius: 4px;
  /* רדיוס גבולות לפינות רכות */
}

.MuiTableHead-root {
  .MuiTableCell-root {
    background-color: #ff8000;
    /* צבע רקע לכותרות הטבלה בתכלת */
    font-weight: bold;
    /* טקסט מודגש בכותרות */
  }
}

.MuiTableBody-root {
  .MuiTableCell-root {
    border-bottom: 1px solid #d0e4f5;
    /* גבולות תכלת בין השורות */
  }
}